<nav>
    <img src="https://www.tokenex.com/wp-content/uploads/2023/02/xplor-logo-transparent-background-768x358.png" class="logo">
<ul>
    <li><a href = "/index">Home</a></li>
    <li><a href = "/login">Login</a></li>
    <li><a href = "/register">Register</a></li>
</ul>
<button class="btn"><i class='bx bxs-plane' style='color: white'></i><a href="/login">Bookings</a></button>
</nav>